*{margin:0;padding:0; }
nav.navbar.navbar-default.navbar-fixed-top {
    background:  none;
    border:  none;
    padding-top:  12px;
}

body {
    background:  url(img/intro-bg.jpg) no-repeat center;
}

.navbar-default .navbar-brand {
    color:  white;
    font-size:  43px;
}

.form-control {
    background: dimgray;
}