*{margin:0;padding:0; box-sizing: border-box; }
nav.navbar.navbar-default.navbar-fixed-top {
    background:  none;
    border:  none;
    padding-top:  12px;
}

body {
    /*background:  url(img/intro-bg.jpg) no-repeat center scroll;*/
}

.navbar-default .navbar-brand {
    color:  white;
    font-size:  43px;
}

.form-control {
    background: dimgray;
}
.footer{
	background: black;
}

.list-musics{
	margin-top: 15%;
}

.list-musics .col-md-5 {
    border:  2px solid;
}

.column {
    float: left;
    width: 100%;
    padding: 10px;
    height: auto; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.card-img-bottom {
    color: #fff;
    height: 20rem;
    background: center no-repeat;
    background-size: cover;
}
.card-img-top {
    width: 400px;
    height: 270px;    ;
}
#picture {
    float: left;
}
#title {
    float: right;
    font-size: 12px;
}
.clear {
    clear: both;
}
#content {
    margin-top: 8%;
}
#title h3 {
    font-size:  17px;
    font-weight: bold;
}
#sampleArea {
    list-style: none;
    overflow: hidden;
    overflow-y: scroll;

}