*{margin:0;padding:0; }
nav.navbar.navbar-default.navbar-fixed-top {
    background:  none;
    border:  none;
    padding-top:  12px;
}

body {
    /*background:  url(img/intro-bg.jpg) no-repeat center scroll;*/
}

.navbar-default .navbar-brand {
    color:  white;
    font-size:  43px;
}

.form-control {
    background: dimgray;
}
.footer{
	background: black;
}

.list-musics{
	margin-top: 15%;
}
.col-md-4 {
    border: 2px solid black;
    background:  gray;
}
.list-musics .col-md-5 {
    border:  2px solid;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.card-img-bottom {
    color: #fff;
    height: 20rem;
    background: center no-repeat;
    background-size: cover;
}
